<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel eum dolorem
      ipsam ad consectetur eaque aliquid facere, consequuntur, iusto expedita
      deserunt labore! Tempore, reiciendis tenetur. Iste unde quos facere atque!
    </p>
  </div>
</div>
